*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul,ol menu{
    list-style: none;
}

img{
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* RESET */

/* LAYOUT */
.row-main > *,
.row-footer-top > *{
    min-height: 200px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

[class^="col"]{
    
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 4px;
}

.padding30{
    padding: 30px;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.row-reverse{
    flex-direction: row-reverse;
}

.apri-nel-browser, 
.download-mac{
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    padding: 10px;
}

/* /Fine regole di LAYOUT */

/* Inizio CSS del Header */
header{
    background-color: #255ee9;
    padding: 20px; 
}

.row-header .links{
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo-top{
    padding: 10px;
}

.links{
    color: white;
    padding: 10px;
}

.login{
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    align-self: center;
    color:black;
    padding: 10px ;
}


/* /Fine parte CSS del Header */

/* Inizio section magenta big square */

.bg-blue{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.col85{
    width: 85%;
    min-height: 200px;
}

.magenta{
    color: white;
}

.magenta > h1,p {
    text-align: center;
}

.magenta > h1{
    margin-bottom: 20px;
    font-size: 40px;
}
.apri-nel-browser{
    background-color: black;
}
.download-mac{
    margin-right: 20px;
    background-color: white;
    color: black;
}
.magenta > p{
    line-height:30px;
    font-size: 20px;
}

.interaction-part{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

/* /Fine section magenta big square */

/* Inizio section white-dobule-squere */
.bg-white{
    background-color: white;
}

.col60{
    width: 60%;
}

.col40{
    width: 40%;
    
}

.pink > h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.pink > p {
    line-height: 30px;
    text-align: left;
    font-size: 17px;
}
/* /Fine section white-dobule-squere */

/* Inizio section bg-gray */
.bg-gray{
    background-color: gray;
}

/* /Fine section bg-gray */

/* Inizio section big-squere-green */
.container-big{
    width: 100%;
    min-height: 500px;
}

.col100{
    width: 100%;
}

.item4-iteraction{
    text-align: center;
}

.h1-bg{
    background-image: url(../img/stars.svg);
    background-position: bottom;
}

.container-big > h1{
    text-align: center;
    font-size: 40px;
}

.container-big > p{
    text-align: center;
    font-size: 15px;
    line-height: 25px;
}
/* /Fine section big-square-green */

/* Inizio parte del footer */
.bg-black{
    background-color: rgb(47, 46, 46);
    color: white;
}

.salmon{
    
}
.col-40-title{
    font-size: 25px;
    color: rgb(70, 43, 226);
    margin-bottom: 20px;
}
.flag{
    width: 20px;
}

.flag-language{
    font-size: 10px;
}

.lightgreen{
    
}

.col40{
    width: 40%;
}

.col15{
    width: 15%;
    padding: 30px 0;
}
.mrg-bottom > li{
    margin-bottom: 10px;
}

.col-15-title{
    color: rgb(70, 43, 226);
    /* margin-bottom: 10px; */
}
/* /Fine parte top del footer */

/* inizio parte bottom del footer */
.logo-bottom{
    
}

.logo-bottom > img{
    width: 100px;
}

.button{
    background-color: #255ee9;
    padding: 5px 0;
    width: 90px;
    font-size:13px;
    text-align: center;
    border-radius: 10px;
}












